.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  gap: 20px;
  font-family: Arial, sans-serif;
}


h1 {
  margin-bottom: 40px;
  font-size: 30px;
}


button {
  width: 280px;
  padding: 18px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


.voltar {
  margin-top: 60px;
}